name = "NeuralLyapunov"
uuid = "61252e1c-87f0-426a-93a7-3cdb1ed5a867"
version = "0.2.7"
authors = ["Nicholas Klugman <13633349+nicholaskl97@users.noreply.github.com>"]

[deps]
Boltz = "4544d5e4-abc5-4dea-817f-29e4c205d9c8"
DataFrames = "a93c6f00-e57d-5684-b7b6-d8193f3e46c0"
ForwardDiff = "f6369f11-7733-5829-9624-2563aa707210"
JuMP = "4076af6c-e467-56ae-b986-b466b2749572"
LinearAlgebra = "37e2e46d-f89d-539d-b4ee-838fcccc9c8e"
Lux = "b2108857-7c20-44ae-9111-449ecde12c47"
LuxCore = "bb33d45b-7691-41d6-9220-0943567d0623"
MLDataDevices = "7e8f7934-dd98-4c1a-8fe8-92b47a384d40"
ModelingToolkit = "961ee093-0014-501f-94e3-6117800e7a78"
NeuralPDE = "315f7962-48a3-4962-8226-d0f33b1235f0"
OrdinaryDiffEq = "1dea7af3-3e70-54e6-95c3-0bf5283fa5ed"
QuasiMonteCarlo = "8a4e6c94-4038-4cdc-81c3-7e6ffdb2a71b"
SciMLBase = "0bca4576-84f4-4d90-8ffe-ffa030f20462"
StableRNGs = "860ef19b-820b-49d6-a774-d7a799459cd3"
SymbolicIndexingInterface = "2efcf032-c050-4f8e-a9bb-153293bab1f5"
Symbolics = "0c5d862f-8b57-4792-8d23-62f2024744c7"

[compat]
Boltz = "1.2"
DataFrames = "1.4"
ForwardDiff = "0.10.36, 1"
JuMP = "1"
LinearAlgebra = "1"
Lux = "1.2"
LuxCore = "1.1"
MLDataDevices = "1.5"
ModelingToolkit = "10"
NeuralPDE = "5.19.1"
OrdinaryDiffEq = "6.96"
QuasiMonteCarlo = "0.3.3"
SciMLBase = "2.91.1"
StableRNGs = "1"
SymbolicIndexingInterface = "0.3.40"
Symbolics = "6.40"
julia = "1.11"
