name = "NeuralLyapunov"
uuid = "61252e1c-87f0-426a-93a7-3cdb1ed5a867"
authors = ["Nicholas Klugman <13633349+nicholaskl97@users.noreply.github.com>"]
version = "0.1.0"

[deps]
EvalMetrics = "251d5f9e-10c1-4699-ba24-e0ad168fa3e4"
ForwardDiff = "f6369f11-7733-5829-9624-2563aa707210"
JuMP = "4076af6c-e467-56ae-b986-b466b2749572"
LinearAlgebra = "37e2e46d-f89d-539d-b4ee-838fcccc9c8e"
LuxCore = "bb33d45b-7691-41d6-9220-0943567d0623"
ModelingToolkit = "961ee093-0014-501f-94e3-6117800e7a78"
NeuralPDE = "315f7962-48a3-4962-8226-d0f33b1235f0"
Optimization = "7f7a1694-90dd-40f0-9382-eb1efda571ba"
OrdinaryDiffEq = "1dea7af3-3e70-54e6-95c3-0bf5283fa5ed"
QuasiMonteCarlo = "8a4e6c94-4038-4cdc-81c3-7e6ffdb2a71b"
SciMLBase = "0bca4576-84f4-4d90-8ffe-ffa030f20462"
StableRNGs = "860ef19b-820b-49d6-a774-d7a799459cd3"
SymbolicIndexingInterface = "2efcf032-c050-4f8e-a9bb-153293bab1f5"
Symbolics = "0c5d862f-8b57-4792-8d23-62f2024744c7"

[compat]
Aqua = "0.8.11"
Boltz = "1.2"
CSDP = "1"
ComponentArrays = "0.15"
EvalMetrics = "0.3"
ExplicitImports = "1.11.2"
ForwardDiff = "0.10"
JuMP = "1"
LinearAlgebra = "1"
Lux = "1"
LuxCUDA = "0.3.3"
LuxCore = "1.1.0"
ModelingToolkit = "9.77"
NLopt = "1"
NeuralPDE = "5.17"
Optimization = "4"
OptimizationOptimJL = "0.4"
OptimizationOptimisers = "0.3"
OrdinaryDiffEq = "6"
QuasiMonteCarlo = "0.3.3"
Random = "1"
SafeTestsets = "0.1"
SciMLBase = "2"
StableRNGs = "1.0.2"
SymbolicIndexingInterface = "0.3.40"
Symbolics = "6.37"
Test = "1"
julia = "1.11"

[extras]
Aqua = "4c88cf16-eb10-579e-8560-4a9242c79595"
Boltz = "4544d5e4-abc5-4dea-817f-29e4c205d9c8"
CSDP = "0a46da34-8e4b-519e-b418-48813639ff34"
ComponentArrays = "b0b7db55-cfe3-40fc-9ded-d10e2dbeff66"
ExplicitImports = "7d51a73a-1435-4ff3-83d9-f097790105c7"
Lux = "b2108857-7c20-44ae-9111-449ecde12c47"
LuxCUDA = "d0bbae9a-e099-4d5b-a835-1c6931763bda"
NLopt = "76087f3c-5699-56af-9a33-bf431cd00edd"
NeuralPDE = "315f7962-48a3-4962-8226-d0f33b1235f0"
Optimization = "7f7a1694-90dd-40f0-9382-eb1efda571ba"
OptimizationOptimJL = "36348300-93cb-4f02-beb5-3c3902f8871e"
OptimizationOptimisers = "42dfb2eb-d2b4-4451-abcd-913932933ac1"
Random = "9a3f8284-a2c9-5f02-9a11-845980a1fd5c"
SafeTestsets = "1bc83da4-3b8d-516f-aca4-4fe02f6d838f"
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["SafeTestsets", "Test", "Lux", "Optimization", "OptimizationOptimJL", "OptimizationOptimisers", "NLopt", "Random", "NeuralPDE", "CSDP", "Boltz", "ComponentArrays", "LuxCUDA", "Aqua", "ExplicitImports"]
