name: CI

on:
  push:
    branches:
      - master
    tags: ['*']
  pull_request:
  workflow_dispatch:

jobs:
  tests:
    name: NeuralLyapunov
    concurrency:
      # Skip intermediate builds: always.
      # Cancel intermediate builds: only if it is a pull request build.
      group: ${{ github.workflow }}-${{ github.ref }}-${{ matrix.project }}-${{matrix.group}}
      cancel-in-progress: ${{ startsWith(github.ref, 'refs/pull/') }}
    strategy:
      fail-fast: false
      matrix:
        version:
          - '1.11'
#          - 'lts' # LTS is 1.10, which isn't currently supported, but should eventually be
        group:
          - 'core'
          - 'policy_search'
          - 'roa'
          - 'local_lyapunov'
          - 'benchmarking'
          - 'unimplemented'
        include:
          - project: '.'
            os: ubuntu-latest
            arch: x64
            allow_failure: false
    uses: "SciML/.github/.github/workflows/tests.yml@v1"
    with:
      julia-version: "${{ matrix.version }}"
      project: "${{ matrix.project }}"
      group: ${{ matrix.group }}
    secrets: "inherit"
  library-tests:
    name: NeuralLyapunovProblemLibrary
    concurrency:
      # Skip intermediate builds: always.
      # Cancel intermediate builds: only if it is a pull request build.
      group: ${{ github.workflow }}-${{ github.ref }}-${{ matrix.project }}-${{matrix.group}}
      cancel-in-progress: ${{ startsWith(github.ref, 'refs/pull/') }}
    strategy:
      fail-fast: false
      matrix:
        version:
          - '1.11'
#          - 'lts' # LTS is 1.10, which isn't currently supported, but should eventually be
        group:
          - 'pendula'
          - 'quadrotors'
        include:
          - project: 'lib/NeuralLyapunovProblemLibrary'
            os: ubuntu-latest
            arch: x64
            allow_failure: false
    uses: "SciML/.github/.github/workflows/tests.yml@v1"
    with:
      julia-version: "${{ matrix.version }}"
      project: "${{ matrix.project }}"
      group: ${{ matrix.group }}
    secrets: "inherit"
