name: CI

on:
  push:
    branches:
      - master
    tags: ['*']
  pull_request:
  workflow_dispatch:

concurrency:
  # Skip intermediate builds: always.
  # Cancel intermediate builds: only if it is a pull request build.
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ startsWith(github.ref, 'refs/pull/') }}

jobs:
  tests:
    name: Tests
    strategy:
      fail-fast: false
      matrix:
        version:
          - '1.11'
#          - 'lts' # LTS is 1.10, which isn't currently supported, but should eventually be
        project:
          - '.'
          - 'lib/NeuralLyapunovProblemLibrary'
        include:
          - os: ubuntu-latest
            arch: x64
            allow_failure: false
          - project: '.'
            group: 'core'
          - project: '.'
            group: 'policy_search'
          - project: '.'
            group: 'roa'
          - project: '.'
            group: 'local_lyapunov'
          - project: '.'
            group: 'benchmarking'
          - project: '.'
            group: 'unimplemented'
          - project: 'lib/NeuralLyapunovProblemLibrary'
            group: 'pendula'
          - project: 'lib/NeuralLyapunovProblemLibrary'
            group: 'quadrotors'
    uses: "SciML/.github/.github/workflows/tests.yml@v1"
    with:
      julia-version: "${{ matrix.version }}"
      project: "${{ matrix.project }}"
      group: ${{ matrix.group }}
    secrets: "inherit"
