name: CI

on:
  push:
    branches:
      - master
    tags: ['*']
  pull_request:
  workflow_dispatch:

concurrency:
  # Skip intermediate builds: always.
  # Cancel intermediate builds: only if it is a pull request build.
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ startsWith(github.ref, 'refs/pull/') }}

jobs:
  tests:
    name: Tests
    strategy:
      fail-fast: false
      matrix:
        version:
          - '1.11'
          - 'nightly'
        project:
          - '.'
          - 'lib/NeuralLyapunovProblemLibrary'
        include:
          - os: ubuntu-latest
            arch: x64
          - version: '1.11'
            allow_failure: false
          - version: 'nightly'
            allow_failure: true
    uses: "SciML/.github/.github/workflows/tests.yml@v1"
    with:
      julia-version: "${{ matrix.version }}"
      project: "${{ matrix.project }}"
      group: "ci"
    secrets: "inherit"
